@import "./reset.css";
@import "./tusker.css";
@import "./everett.css";

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --font-body: "Everett", var(--font-system), sans-serif;
}

#__next {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;

  /* hide scrollbars */
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  /*font-style: normal;
  font-weight: 500; */
  /* cursor: url("/images/cursor/ellipse.svg"), pointer;
  cursor: -webkit-image-set(
      url("/images/cursor/ellipse.svg") 1x,
      url("/images/cursor/ellipse.svg") 2x
    ),
    pointer; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: none;
}

.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: white;
  z-index: 999;
  pointer-events: none;

  mix-blend-mode: difference;
  background-color: white;

  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
}
.cursor.hovered {
  position: fixed;
  left: 0;
  top: 0;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: white;
  z-index: 999;
  pointer-events: none;

  mix-blend-mode: difference;
  background-color: white;
}

/* curtains canvas container */

.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: -1;
}

/* basic plane */

.BasicPlane {
  width: 100vw;
  height: 100vh;
}

.BasicPlane img {
  display: none;
}
/* @media (max-width: 800px) {
  .BasicPlane {
    display: none;
  }
} */
.Flowmap {
  position: relative;
  width: 100%;
  height: 100vh;
}

.Flowmap-ping-pong-plane,
.Flowmap-render-plane {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.Flowmap-render-plane img {
  display: none;
}
