.wrapper {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  align-items: center;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 92.64%);

  transform: translateY(192px);

  padding: 0px 36px;

  z-index: 1;
}

.title {
  flex: 5;

  font-size: 4.15rem;

  font-style: normal;
  font-weight: normal;

  line-height: 100%;

  letter-spacing: -0.015em;
  font-feature-settings: "ss01" on;
}

.description {
  flex: 3;

  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
}

.actions-wrapper {
  flex: 1;
  flex-basis: 86px;

  display: flex;
  flex-direction: column;

  font-size: 1.875rem /* 30px */;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  text-align: right;
  text-transform: uppercase;
}

.see-more-wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 24px; */
}
.see-more-arrow {
  display: flex;
  align-items: center;
}

.buy-wrapper {
  display: flex;
  justify-content: space-between;
  /* gap: 24px; */
}

.buy {
  color: #ff0000;
}

.buy-arrow {
  display: flex;
  align-items: center;
}
