.wrapper {
  display: flex;
  flex-direction: row;
  flex: 3;
  align-items: flex-end;

  /* font-size: 25.25rem; 404px */
  font-size: 18.3rem;
  /* font-family: "Tusker Grotesk"; */
  font-family: "Tusker Grotesk 3700";
  font-style: normal;
  /* font-weight: 800; */
  letter-spacing: -5px;

  /* line-height: 588px; */
  /* identical to box height */
  padding: 0px 36px;

  text-transform: uppercase;

  color: white;
  mix-blend-mode: screen;
}

.title {
  display: inline-block;
  transform: scale(1, 1.24);
}

.nike {
  opacity: 0.8;
  color: #ff0000;
}
